body {
  background-color: darkgray;
}

.calculator {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  border-style: solid none solid none;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
  position: absolute;
  top: 20%;
  left: 40%;
  border-radius: 8px;
  padding: 50px 30px 50px 30px;
  box-shadow: 8px 10px rgb(150, 150, 150) ;

}

.display {
  width: 270px;
}

.display input {
  width: 100%;
  border: none;
  padding: 10px;
  margin: 10px;
  text-align: right;
  font-size: 30px;
  color: white;
 
}

.display input::placeholder {
  color: white;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  margin-top: 40px;
}

button {
  font-family: Serif, Sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: 2px 1px 1px 2px solid;
  border-color: rgb(102, 99, 99);
  font-size: 20px;
  padding: 6px;
  border-radius: 10px;
  background-color: rgb(84, 1, 84);
}



button#equal-button {
  grid-row: span 2;
  background-color: rgb(12, 119, 119);
  color: white;
  font-size: 25px;
}

button#zero-button {
  grid-column: span 2;
}

.operational-button {
  background-color: rgb(12, 119, 119);
  color: white;
}

.operational-button:hover, button#equal-button:hover {
  background-color: rgb(161, 161, 161);
}

.number-button:hover {
  background-color: rgb(161, 161, 161);
}

.number-button {
  color: white;
  font-size: 25px;
}

.decimal-number:hover {
  background-color: rgb(161, 161, 161);
}

.decimal-number {
  color: white;
}

